.navbar {
  padding: 45px 0;
}
.navbarWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 160px;
}

@media (max-width: 1000px) {
  .navbar {
    padding: 24px 0;
  }
  .logo {
    width: 128px;
  }
}
