.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  border-radius: 16px;
  padding: 48px 20px;
}

.cardImg {
  width: 122px;
  height: 122px;
  border-radius: 50%;
}
