.Home {
  min-height: 100vh;
  background: url(../../assets/images/bg.png);
  background-size: 100%;
  padding-bottom: 100px;
}
.heroSection {
  min-height: 100vh;
  background: url(../../assets/images/hero-ice.png);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: contain;
}
